@use '../abstracts/mixins';

.section {
    padding: 2rem 0;
    

    &.section-bg-grey {
        background-color: #f7f9fc;
    }
    &.section-bg-blue {
     
        background-size: cover;
        background:#122947 url(/images/pattern.png) no-repeat;
       
    }
    &.section-bg-green {
        background-color: #27ae60;
        display:flex;

        align-items: center;
        
        margin-top: 3rem;
        flex-direction: row;
    }

    &.section-footer {
        display: flex;
        background-color:#1d2636;
        align-items: center;

    }    
    .section-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        margin: 0 15rem;
        

        
        h1 , h2 , h3 , h4 , h5 , h6 , p {
            text-align: center;
            align-items: center;
            
        }
    }
}
