.section {
    padding: 2rem 0;

    &.section-bg-grey {
        background-color: lightgrey;
    }
    

    .section-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 15rem;
        

        
        h1 , h2 , h3 , h4 , h5 , h6 {
            text-align: center;
            align-items: center;
            
        }
    }
}
