.section {

    

    .container-award {
               
        height: 25rem;
        display: flex;
        justify-content:center;

    
        
        .container-header {
            display: flex;
            justify-content: center;
            
        }
    }































};