

    .container-blue {
        width: auto;        
        height: 25rem;
        background-size: cover;
        background:#122947 url(/images/pattern.png) no-repeat;
        display: flex;

    
        
        .container-header {
            display: flex;
            justify-content: center;
            
        }
    }































